/* Colors and fonts*/

body {
	background-color: #F5F5F5;
	color: rgb(100, 100, 100);
	font-family: 'Lora', serif;
	font-size: 18px;
	font-weight: 500;
}

h1,h2{
	font-family: 'Roboto', sans-serif;
	font-weight: bolder;
	color: #1F4B91
}

h1{
	;
	font-size: 32px;
	font-weight: 600;
	
}

h2{
	font-size: 25px;
	font-weight: 500;
}

a{
	text-decoration: none;
	color: #1F4B91;
	font-weight: bolder;
	font-size: 40px;

}

a:hover {
	color: #0069A3;
}



/*Custom design with class*/



.container {
	width: 700px;
    margin: 30px auto;
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-white {
	background: white;
	padding: 40px;
	margin: 20px 0px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
}